<%= form_for @quotum_limit, remote: true do |f| %>
  <fieldset>
    <%= f.fields_for :quotum do |quotum_form| %>
      <div class="form-group col-md-12">
        <label class="form-control-label">User</label>
        <%= quotum_form.select :user_id, collection_for_select(ResourceQuotable.user_class.all, :id, :name), { prompt: 'Select' }, class: "form-control", required: true  %>
      </div>

      <div class="form-group col-md-12">
        <label class="form-control-label">Resource</label>
        <%= quotum_form.select :resource, options_for_select(ResourceQuotable.resources, @quotum_limit.quotum.resource), { prompt: 'Select' }, class: "form-control", required: true  %>
      </div>

      <div class="form-group col-md-12">
        <label class="form-control-label">Action</label>
        <%= quotum_form.select :action, options_for_select(ResourceQuotable.actions.keys, @quotum_limit.quotum.action.to_s), { prompt: 'Select' }, class: "form-control", required: true  %>
      </div>
    <% end %>
    
    <div class="form-group col-md-12">
      <label class="form-control-label">Period</label>
      <%= f.select :period, options_for_select(QuotumLimit.periods.keys, @quotum_limit.period.to_s), { prompt: 'Select' }, class: "form-control", required: true  %>
    </div>

    <div class="form-group col-md-12">
      <label class="form-control-label">Limit</label>
      <%= f.number_field :limit, class: 'form-control', required: true %>
    </div>

    <div class="form-group col-md-12">
      <%= f.submit 'Save', class: 'btn btn-success' %>
    </div>
  </fieldset>
<% end %>
