<td><%= link_to quotum.id, quotum_path(quotum), remote: true %></td>
<td><%= quotum.user.name %></td>
<td><%= quotum.resource_class %></td>
<td><%= quotum.action %></td>
<td><%= quotum.period %></td>
<td><%= quotum.limit %></td>

<td class='text-right'>
  <%= link_to '',
      reset_quotum_path(quotum),
      remote: true,
      method: :put,
      data: {
          confirm: 'Are you sure you want to reset this quotum?',
          tooltip: 'Reset quotum',
          toggle: 'tooltip',
          title: 'Reset quotum',
          placement: 'bottom'
        },
      class: "fa fa-reload" %>
  <%= link_to '',
      edit_quotum_path(quotum),
      remote: true,
      class: 'fa fa-edit',
      data: {
        tooltip: 'Edit',
        title: 'Edit',
        toggle:'tooltip',
        placement: 'left'
      } %>
  <%= link_to '',
      quotum_path(quotum),
      remote: true,
      method: :delete,
      data: {
        confirm: 'Are you sure you want to destroy this quotum?',
        tooltip: 'Delete',
        toggle: 'tooltip',
        title: 'Delete',
        placement: 'left'
      },
      class: 'fa fa-trash' %>
</td>
