<td><%= quotum_tracker.resource_class %></td>
<td><%= quotum_tracker.action %>
<td><%= quotum_tracker.quotum.period %>
<td><%= quotum_tracker.counter %>/<%= quotum_tracker.limit %></td>
<td><%= quotum_tracker.flag %></td>

<td class='text-right'>
</td>
